h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}



a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
    color: #434455;
    background-color: #FFFFFF;
}

address {
    font-size: normal;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header */
.header {
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header-div-class {
display: flex;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav-class {
    display: flex;
    align-items: center;
    
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;  
    color: #404bbf;
    
    }

.web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-list-navigation {
    display: flex;
    gap: 40px;
}

.header-adress {
    font-style: normal;
    margin-left: 332px;
}

.header-link {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.header-link-extra{
    position: relative;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-extra::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}


    .header-link-extra:hover {
    color: #404bbf;
}

.header-link-extra:focus {
    color: #404bbf;
}

.header-link-extra:active {
    color: inherit;
}

.header-list-contacts {
    display: flex;
    gap: 40px
}

.header-item-contacts {}

.header-link-contacts {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-contacts:hover,
.header-link-contacts:focus {
    color: #404bbf;
}

/* -- */

/* Effective Solutions for Your Business */
.hero-image {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\.jpeg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.hero-image-titel {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffff;
    max-width: 496px;
    margin: 0 auto;
    padding-bottom: 48px;
}

.hero-image-btn {
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   margin: 0 auto;


}

.hero-image-btn:hover,
.hero-image-btn:focus {
    background-color: #404BBF
}



/* -- */

/* Section 1 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.section-first {
    padding: 120px 0;
}

.section-first-list {
    display: flex;
    gap: 24px;
}

.section-item-item {
width: calc((100% - 72px) / 4);
}

.section-subtitel-subtitel {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-text-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

/* -- */

/* Section 2 */
.section-our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-team-titel {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-team-list {
    display: flex;
    gap: 24px;
}

.section-team-item {
    background: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-team-subtitel {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.section-team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    padding-bottom: 8px;
}

.section-team-inside-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.section-team-icon{
width: 40px;
height: 40px;   
}

.section-team-list-logo{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team-list-logo:hover,
.section-team-list-logo:focus {
    background-color: #404bbf;
}

.section-team-svg{
    fill: #f4f4fd;
}

.section-2-img {}

.container-item-team{
    padding: 32px 0;
}

/* -- */



/* Section 3 */
.container-footer{
display: flex;
align-items: baseline;
}

.footer-second-container{
    margin-right: 120px;
}

.container-sm{

}

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-portfolio-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}


.section-third-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-third-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        
}

.section-portfolio-text{

}

.container-img{
position: relative;
overflow: hidden;
}

.paragraph-class{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.paragraph-class:hover {
   
}

.container-portfolio-item{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
   
}

.section-portfolio-subtitel {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.section-third-item:hover .paragraph-class {
    transform: translateY(0%);
}


.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.container {}

.footer-link {
    display: inline-block;
        margin-bottom: 16px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.web-footer {
    display: inline-block;
    
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;}

.footer-text {
    max-width: 264px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
    
}

.social-media{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.social-media-list{
    display: flex;
    gap: 16px;
}

.social-media-item{
    width: 40px;
    height: 40px;
}

.social-media-logo{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.social-media-logo:hover {
    background-color: #31d0aa;
}
.social-media-logo:focus {
    background-color: #31d0aa;
}

.social-media-svg{
    fill: #f4f4fd;
}
 



